.navbar {
  width: 100%;
  background-color: #171717;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  z-index: 50;
  border-radius: 20px;
  border: 1px solid blue;
}
.navbar_logo h2 {
  color: #f4f4f4;
  font-size: 1.4rem;
}
.navbar_logo h2 i {
  padding: 10px;
}

.navbar_links {
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar_links > li {
  padding-left: 1.5rem;
}
.navbar_links > li > a {
  text-decoration: none;
  color: #f4f4f4;
  font-size: 1.05rem;
  display: flex;
  align-items: center;
}
.navbar_links > li > a > span {
  display: flex;
  align-items: center;
  margin-left: 8px;
}
.shop_link {
  background: #171717;
  padding: 10px 35px;
  border-radius: 8px;
}
.shop_link:hover,
.cart_sidecart:hover {
  background: #500bf3;
  color: #f4f4f4;
}

.cart_sidecart {
  background: #171717;
  padding: 10px;
  border-radius: 8px;
  color: #fff;
  margin-left: 8px;
  cursor: pointer;
}
.cart_sidecart span {
  display: inline;
}
.cart_logo {
  width: 100%;
  height: 100%;
  padding-left: 7px;
  padding-right: 7px;
  background: #f4f4f4;
  border-radius: 50%;
  color: #171717;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
}
@media (max-width: 700px) {
  .navbar_logo h2 {
    font-size: 1rem;
  }
  .navbar_links > li {
    padding-left: 1rem;
  }
  .navbar_links > li > a {
    font-size: 1rem;
  }
  .shop_link {
    padding: 17px 20px;
  }
}
